body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.scroll-table {
    width: 100%;
}

/* Container for the vertical scroll */
.table-v-scroll {
    max-height: 700px; /* Set your desired height */
    overflow-y: auto; /* Enable vertical scroll */
    overflow-x: auto; /* Prevent horizontal scroll unless needed */
    border: 1px solid #dee2e6;
    border-radius: 4px;
}

    /* Make the header sticky */
    .table-v-scroll thead th {
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: #6990C7; /* Match your header theme (dark) */
        color: black;
        border-bottom: 2px solid #32383e;
    }

