
.table-wrapper {
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: auto;
}

@media (max-width: 1200px) {

    .table-wrapper {
        height: 70vh;
        overflow-y: auto;
        overflow-x: visible;
    }
}
/* =========================
   STAFF TABLE
========================= */
#tableStaff {
    width: max-content;
    min-width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 13px;
    /*  border: 1px solid #ccc;*/
}

    #tableStaff td,
    #tableStaff th {
        padding: 4px 6px;
    }


    #tableStaff th {
        position: sticky;
        top: 0;
        z-index: 1;
        height: 35px;
        vertical-align: middle;
        white-space: nowrap;
    }


    #tableStaff td {
        height: 35px;
        vertical-align: middle;
        white-space: nowrap;
    }

        #tableStaff td.text-center {
            text-align: center;
        }

        #tableStaff td:nth-child(5),
        #tableStaff td:nth-child(7) {
            text-align: center;
        }

    /* Sticky header */

    #tableStaff tbody tr:nth-child(odd) {
        background-color: #f2f2f2; /* white */
    }

    #tableStaff tbody tr:nth-child(even) {
        background-color: #ffffff; /* light gray */
    }


    #tableStaff th:nth-child(1) {
        width: 50px;
    }

    #tableStaff th:nth-child(2) {
        width: 140px;
    }

    #tableStaff th:nth-child(3) {
        width: 50px;
    }

    #tableStaff th:nth-child(4) {
        width: 30px;
    }

    #tableStaff th:nth-child(6) {
        width: 80px;
    }

    #tableStaff th:nth-child(5),
    #tableStaff th:nth-child(7) {
        width: 70px;
    }

    #tableStaff button {
        font-size: 14px;
        padding: 2px 4px;
    }

#btnUpdateSeat {
    width: 80px;
}

#btnChange {
    width: 70px;
}

.modal-dialog {
    max-width: 500px;
}

.form-container {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

.modal-content {
    overflow: visible;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 6px;
}



    /*.form-row .form-control,
.form-row .input-group ,
.form-row select.form-control {
    flex: 1;
    min-width: 0;
}
*/
    /* .form-row .form-control {
        flex: 1;
        min-width: 0;
    }
*/
    .form-row > label {
        flex: 0 0 auto;
        width: 100px;
        text-align: right;
    }

    /* .form-row select.form-control {
        flex: 0 0 180px;
        width: 180px;
        max-width: 180px;
    }

    .form-row .input-group.date {
        flex: 0 0 180px;
        width: 180px;
        max-width: 180px;
    }

    .form-row input.staff-code {
        flex: 0 0 80px;
        width: 80px !important;
        max-width: 80px;
    }*/


    /* normal inputs */
    .form-row .form-control,
    .form-row textarea {
        flex: 0 0 220px;
        width: 220px;
        max-width: 220px;
        min-width: 0;
    }

    /* dropdown + date */
    .form-row select.form-control {
        flex: 0 0 220px;
        width: 220px;
        max-width: 220px;
    }

    .form-row .input-group.date {
        flex: 0 0 220px;
        width: 220px;
        max-width: 220px;
    }

        /* important */
        .form-row .input-group.date .form-control {
            width: 100%;
        }
    /* staff code only */
    .form-row input.staff-code {
        flex: 0 0 80px;
        width: 80px !important;
        max-width: 80px;
    }

/* remark */
.textarea-remark {
    height: 60px !important;
}

.bootstrap-datetimepicker-widget {
    z-index: 9999 !important;
}

.modal {
    z-index: 1050;
}

.form-actions {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    background-color: #D7F1D0;
    margin-top: 15px;
}

.btn-cancel {
    background-color: #8F8786;
    border-color: #ccc;
    color: #FFFFFF;
}

.btn-submit {
    background-color: #1A6B8F;
    border-color: #1A6B8F;
    color: #FFFFFF;
}

.modal-body {
    display: flex;
    justify-content: center; /**/
    background-color: #DAF2D0;
}

.modal-header {
    background-color: #1A6B8F; /* deep teal */
    color: #fff; /* white text for contrast */
}

.text-danger {
    color: red;
    font-size: 12px;
    margin: 0;
}



input.input-error,
select.input-error,
textarea.input-error,
input.input-error:focus,
select.input-error:focus,
textarea.input-error:focus {
    border: 2px solid #e57373 !important;
    box-shadow: 0 0 3px rgba(229,115,115,0.4) !important;
    outline: none !important;
}

.label-remark {
    height: 55px !important;
}

.textarea-remark {
    height: 60px !important;
}

input[readonly] {
    background-color: #e9ecef;
    cursor: not-allowed;
}

.input-group.date.error input.form-control {
    border: 1px solid red !important;
    background-color: #fff0f0;
}

.input-group.date.error .input-group-addon {
    background-color: #ffdddd;
    border-color: red;
}

#addForm input:disabled,
#editForm input:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

#editForm select.input-error,
#addForm select.input-error {
    border: 2px solid #e57373 !important;
    box-shadow: 0 0 3px rgba(229,115,115,0.4) !important;
    outline: none !important;
    background-image: none;
}
